main {
  /* https://unsplash.com/photos/aerial-photography-of-green-mountain-beside-body-of-water-under-white-sky-prSogOoFmkw */
  background-image: url('../../../assets/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}